#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws

*.class
*.info
*.properties
*.jar

# Это добавил я
*.base
*.controls
*.fxml
*.graphics
*.media
*.swing
*.web
*.dll


/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
